
.related-link2 {
  margin-right: 20px;
}
.related-link {
  margin-right: 10px;
}
h1 {
  text-align: center;
  font-size: xx-large;
  color: black;
  background-color: green;
  border: 3px solid black;
  text-shadow: 3px 3px 5px grey;
  border-radius: 4px;
}
h3 {
  
  color: brown;
  size: large;
}
p{
    color: gray;
}


